# Student Loan Risk with Deep Learning

In [26]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
import sklearn as skl
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [27]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [28]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [29]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [30]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]

# Display a sample of y
y_sample= y.sample(5)
y_sample_value= y_sample.values
print(y_sample_value)

[0 1 0 1 1]

In [31]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.drop("credit_ranking",axis=1)

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

### Step 3: Split the features and target sets into training and testing datasets.

In [32]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [33]:
# Create a StandardScaler instance
import sklearn as skl
X_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler to the features training dataset
X_scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)

X_train_scaled 
# Fit the scaler to the features training dataset
X_scaler.fit(X_test)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [34]:
# Define the the number of inputs (features) to the model

input_nodes = len(X.columns)

# Review the number of features
print(input_nodes)

11

In [46]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3
# Define the number of neurons in the output layer
number_output_neurons = 1

In [47]:
# Create the Sequential model instance
nn_model = tf.keras.models.Sequential()

# Add the first hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=input_nodes))

# Add the second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Add the output layer to the model specifying the number of output neurons and activation function
nn_model.add(tf.keras.layers.Dense(units=number_output_neurons, activation="sigmoid"))

In [48]:
# Display the Sequential model summary
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 6)                 72

 dense_7 (Dense)             (None, 3)                 21

 dense_8 (Dense)             (None, 1)                 4

=================================================================
Total params: 97
Trainable params: 97
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [49]:
# Compile the Sequential model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [50]:
# Fit the model using 50 epochs and the training data
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
38/38 [==============================] - 0s 377us/step - loss: 0.6860 - accuracy: 0.6464
Epoch 2/50
38/38 [==============================] - 0s 382us/step - loss: 0.6703 - accuracy: 0.6614
Epoch 3/50
38/38 [==============================] - 0s 315us/step - loss: 0.6605 - accuracy: 0.6722
Epoch 4/50
38/38 [==============================] - 0s 323us/step - loss: 0.6527 - accuracy: 0.6814
Epoch 5/50
38/38 [==============================] - 0s 318us/step - loss: 0.6461 - accuracy: 0.6889
Epoch 6/50
38/38 [==============================] - 0s 316us/step - loss: 0.6407 - accuracy: 0.6889
Epoch 7/50
38/38 [==============================] - 0s 308us/step - loss: 0.6348 - accuracy: 0.6906
Epoch 8/50
38/38 [==============================] - 0s 309us/step - loss: 0.6286 - accuracy: 0.6956
Epoch 9/50
38/38 [==============================] - 0s 317us/step - loss: 0.6222 - accuracy: 0.7056
Epoch 10/50
38/38 [==============================] - 0s 314us/step - loss: 0.6169 - accuracy: 0.7123
Epoch 11/50
38/38 [==============================] - 0s 302us/step - loss: 0.6124 - accuracy: 0.7156
Epoch 12/50
38/38 [==============================] - 0s 308us/step - loss: 0.6082 - accuracy: 0.7139
Epoch 13/50
38/38 [==============================] - 0s 307us/step - loss: 0.6035 - accuracy: 0.7206
Epoch 14/50
38/38 [==============================] - 0s 321us/step - loss: 0.5989 - accuracy: 0.7231
Epoch 15/50
38/38 [==============================] - 0s 315us/step - loss: 0.5945 - accuracy: 0.7298
Epoch 16/50
38/38 [==============================] - 0s 315us/step - loss: 0.5911 - accuracy: 0.7289
Epoch 17/50
38/38 [==============================] - 0s 316us/step - loss: 0.5871 - accuracy: 0.7356
Epoch 18/50
38/38 [==============================] - 0s 327us/step - loss: 0.5841 - accuracy: 0.7331
Epoch 19/50
38/38 [==============================] - 0s 334us/step - loss: 0.5811 - accuracy: 0.7348
Epoch 20/50
38/38 [==============================] - 0s 323us/step - loss: 0.5775 - accuracy: 0.7356
Epoch 21/50
38/38 [==============================] - 0s 307us/step - loss: 0.5746 - accuracy: 0.7381
Epoch 22/50
38/38 [==============================] - 0s 333us/step - loss: 0.5721 - accuracy: 0.7398
Epoch 23/50
38/38 [==============================] - 0s 327us/step - loss: 0.5692 - accuracy: 0.7373
Epoch 24/50
38/38 [==============================] - 0s 312us/step - loss: 0.5668 - accuracy: 0.7381
Epoch 25/50
38/38 [==============================] - 0s 324us/step - loss: 0.5645 - accuracy: 0.7373
Epoch 26/50
38/38 [==============================] - 0s 305us/step - loss: 0.5616 - accuracy: 0.7364
Epoch 27/50
38/38 [==============================] - 0s 312us/step - loss: 0.5598 - accuracy: 0.7423
Epoch 28/50
38/38 [==============================] - 0s 320us/step - loss: 0.5573 - accuracy: 0.7440
Epoch 29/50
38/38 [==============================] - 0s 330us/step - loss: 0.5551 - accuracy: 0.7456
Epoch 30/50
38/38 [==============================] - 0s 323us/step - loss: 0.5534 - accuracy: 0.7431
Epoch 31/50
38/38 [==============================] - 0s 303us/step - loss: 0.5517 - accuracy: 0.7481
Epoch 32/50
38/38 [==============================] - 0s 321us/step - loss: 0.5495 - accuracy: 0.7448
Epoch 33/50
38/38 [==============================] - 0s 327us/step - loss: 0.5479 - accuracy: 0.7498
Epoch 34/50
38/38 [==============================] - 0s 315us/step - loss: 0.5463 - accuracy: 0.7465
Epoch 35/50
38/38 [==============================] - 0s 320us/step - loss: 0.5446 - accuracy: 0.7515
Epoch 36/50
38/38 [==============================] - 0s 306us/step - loss: 0.5435 - accuracy: 0.7448
Epoch 37/50
38/38 [==============================] - 0s 320us/step - loss: 0.5419 - accuracy: 0.7465
Epoch 38/50
38/38 [==============================] - 0s 332us/step - loss: 0.5407 - accuracy: 0.7490
Epoch 39/50
38/38 [==============================] - 0s 323us/step - loss: 0.5392 - accuracy: 0.7481
Epoch 40/50
38/38 [==============================] - 0s 329us/step - loss: 0.5384 - accuracy: 0.7490
Epoch 41/50
38/38 [==============================] - 0s 305us/step - loss: 0.5365 - accuracy: 0.7456
Epoch 42/50
38/38 [==============================] - 0s 324us/step - loss: 0.5356 - accuracy: 0.7465
Epoch 43/50
38/38 [==============================] - 0s 326us/step - loss: 0.5342 - accuracy: 0.7498
Epoch 44/50
38/38 [==============================] - 0s 328us/step - loss: 0.5330 - accuracy: 0.7490
Epoch 45/50
38/38 [==============================] - 0s 326us/step - loss: 0.5322 - accuracy: 0.7473
Epoch 46/50
38/38 [==============================] - 0s 308us/step - loss: 0.5305 - accuracy: 0.7531
Epoch 47/50
38/38 [==============================] - 0s 326us/step - loss: 0.5294 - accuracy: 0.7531
Epoch 48/50
38/38 [==============================] - 0s 321us/step - loss: 0.5281 - accuracy: 0.7556
Epoch 49/50
38/38 [==============================] - 0s 320us/step - loss: 0.5273 - accuracy: 0.7565
Epoch 50/50
38/38 [==============================] - 0s 327us/step - loss: 0.5262 - accuracy: 0.7565

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [51]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5211 - accuracy: 0.7625 - 55ms/epoch - 4ms/step
Loss: 0.5211202502250671, Accuracy: 0.762499988079071

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [52]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Export your model to a keras file
nn_model.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [53]:
# Set the model's file path
file_path = Path("saved_models/student_loans.keras")

# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [54]:
# Make predictions with the test data

model_loss, model_accuracy = nn_imported.evaluate(X_test_scaled, y_test, verbose=2)
# Display a sample of the predictions
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5211 - accuracy: 0.7625 - 55ms/epoch - 4ms/step
Loss: 0.5211202502250671, Accuracy: 0.762499988079071

In [55]:
# Save the predictions to a DataFrame and round the predictions to binary results
import pandas as pd

# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled)

# Convert predictions to binary results
binary_predictions = (predictions > 0.5).astype(int)

# Save the predictions to a DataFrame
predictions_df = pd.DataFrame(binary_predictions, columns=['Predicted'])

# Display the classification report with the y test data and predictions
from sklearn.metrics import classification_report


predictions_df

13/13 [==============================] - 0s 397us/step

     Predicted
0            1
1            0
2            1
3            1
4            1
..         ...
395          1
396          0
397          1
398          0
399          1

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [45]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, binary_predictions))

              precision    recall  f1-score   support

           0       0.74      0.78      0.76       188
           1       0.79      0.75      0.77       212

    accuracy                           0.77       400
   macro avg       0.76      0.77      0.76       400
weighted avg       0.77      0.77      0.77       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**

The data required to build a recommendation system for student loans includes:

- Payment History: Reflects the student’s reliability in making payments, crucial for assessing risk.
- Location Parameter: May indicate cost of living and accessibility to financial resources.
- STEM Degree Score: STEM majors may have different earning potentials and job stability.
- GPA Ranking: Academic performance can be a predictor of future success and loan repayment ability.
- Alumni Success: Measures the success rate of graduates from the same institution, indicating potential future success.
- Study Major Code: The field of study can influence earning potential and job market demand.
- Time to Completion: Indicates how soon the student will enter the job market.
- Finance Workshop Score: Reflects the student’s financial literacy, important for managing loans.
- Cohort Ranking: Provides a comparative measure of the student’s performance relative to peers.
- Total Loan Score: Summarizes the student’s overall loan profile.
- Financial Aid Score: Indicates the level of financial support the student already has.
- Credit Ranking: Essential for assessing the student’s creditworthiness.

These data are relevant because they provide a comprehensive view of the student's academic performance, financial literacy, creditworthiness, and potential future success, which are all critical factors in determining suitable loan options.


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

The model would primarily use content-based filtering. This method uses the attributes of the items (student loans) and the user profiles (students) to make recommendations. The selected data includes detailed information about the students (e.g., GPA, major, payment history) and the loan options (e.g., total loan score, financial aid score), which makes it suitable for content-based filtering. This method matches loan features with student profiles, ensuring personalized recommendations based on individual characteristics.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**

Data Privacy and Security: Handling sensitive financial and personal information requires stringent data privacy and security measures. Compliance with regulations such as GDPR or FERPA is essential to protect student data and maintain trust. Any data breach could lead to severe consequences, including identity theft and financial fraud.
Bias and Fairness: Ensuring that the recommendation system does not inadvertently favor or disadvantage certain groups of students based on biased data or algorithms. For example, students from lower-income backgrounds or certain demographics might be unfairly penalized if the system is biased. This challenge is significant because it can lead to unequal access to loan options and perpetuate existing inequalities.
These challenges are critical because they directly impact the reliability, fairness, and ethical considerations of the recommendation system, which are essential for gaining trust and providing equitable support to all students.